/* assets/css/custom.css */
body {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 140%;
    font-weight: 400;
    
    background-color: #fff4f9;
}

.logo {
    padding-top: 10px;   /* デフォルトは 20px */
    padding-bottom: 10px;
}


.logo__title {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 500%;
}

/* ロゴの subtitle（tagline）の文字サイズを変更 */
.logo__tagline {
    font-size: 1.5rem;   /* 好きなサイズに変更 */
    line-height: 1.0;
}

/* 一覧ページのタイトルサイズを変更 */
.list__title {
    font-size: 120%;   /* 好きなサイズに変更 */
}

/* スマホ（画面幅 600px 以下）用 X*/
@media (max-width: 600px) {
	.logo {
    	padding-top: 1px;   /* デフォルトは 20px */
    	padding-bottom: 1px;
	}
    .logo__title {
        font-size: 100%;   /* 好きなサイズに調整可能 */
        line-height: 0.1;
    }
    .logo__link .logo__img {
        max-width: 38px;	/* スマホ用に小さくする */
        height: auto;
    }
	.logo__tagline {
    	font-size: 0.8rem;   /* 好きなサイズに変更 */
    	line-height: 0.1;
	}

  .menu__btn {
    padding: 0px 8px;
  }
  .menu__btn-title {
    font-size: 0.8rem;
  }
  .menu__btn-icon {
    width: 16px;
    height: 10px;
  }
  /* メニュー項目の文字サイズを小さくする */
  .menu__list .menu__item .menu__link {
    font-size: 0.9rem;   /* 好きなサイズに変更 */
    padding-top: 6px;    /* 行間を詰めたい場合 */
    padding-bottom: 6px;
  
  /* 一覧の文字を小さくする */
  .post__excerpt {
    font-size: 0.9rem;
    line-height: 1.4;
  }

}




.invert-hover {
  transition: filter 0.3s ease;
}

.invert-hover:hover {
  filter: hue-rotate(15deg) brightness(110%) contrast(110%);
}


