/* assets/css/custom.css */
body {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 140%;
    font-weight: 400;
    
    background-color: #fff4f9;
}

.logo__title {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 500%;
}

/* スマホ（画面幅 600px 以下）用 X*/
@media (max-width: 600px) {
    .logo__title {
        font-size: 100%;   /* 好きなサイズに調整可能 */
        line-height: 1.1;
    }
    .logo__img {
        width: 120px;  /* スマホ用に小さくする */
        height: auto;
    }

}

/* ロゴの subtitle（tagline）の文字サイズを変更 */
.logo__tagline {
    font-size: 1.5rem;   /* 好きなサイズに変更 */
    line-height: 1.0;
}


/* 一覧ページのタイトルサイズを変更 */
.list__title {
    font-size: 120%;   /* 好きなサイズに変更 */
}

.invert-hover {
  transition: filter 0.3s ease;
}

.invert-hover:hover {
  filter: hue-rotate(15deg) brightness(110%) contrast(110%);
}


